ms/bcb.mak
ms/ntdll.mak
ms/ssleay32.def
ms/libeay32.def
ms/nt.mak
ms/libeay32.def
ms/uptable.asm
ms/version32.rc

MINFO
tmp32dll/
inc32/
out32dll/
x86/
x64/

crypto/buildinf.h
crypto/opensslconf.h
crypto/opensslconf.h.bak
Makefile
Makefile.bak
res.txt

ms/uptable.obj
