#include "rtlconsts.h"

STRINGTABLE
BEGIN
  SAncestorNotFound, "Ancestor for ""%s"" not found"
  SAssignError, "Cannot assign a %s to a %s"
  SBitsIndexError, "Bits index out of range"
  SBucketListLocked, "List is locked during an active ForEach"
  SCantWriteResourceStreamError, "Can""t write to a read-only resource stream"
  SCharExpected, """""%s"""" expected"
  SCheckSynchronizeError, "CheckSynchronize called from thread $%x, which is NOT the main thread"
  SClassNotFound, "Class %s not found"
  SDelimiterQuoteCharError, "Delimiter and QuoteChar properties cannot have the same value"
  SDuplicateClass, "A class named %s already exists"
  SDuplicateItem, "List does not allow duplicates ($0%x)"
  SDuplicateName, "A component named %s already exists"
  SDuplicateString, "String list does not allow duplicates"
  SFCreateError, "Cannot create file %s"
  SFixedColTooBig, "Fixed column count must be less than column count"
  SFixedRowTooBig, "Fixed row count must be less than row count"
  SFOpenError, "Cannot open file %s"
  SGridTooLarge, "Grid too large for operation"
  SIdentifierExpected, "Identifier expected"
  SIndexOutOfRange, "Grid index out of range"
  SIniFileWriteError, "Unable to write to %s"
  SInvalidActionCreation, "Invalid action creation"
  SInvalidActionEnumeration, "Invalid action enumeration"
  SInvalidActionRegistration, "Invalid action registration"
  SInvalidActionUnregistration, "Invalid action unregistration"
  SInvalidBinary, "Invalid binary value"
  SInvalidDate, """""%s"""" is not a valid date"
  SInvalidDateTime, """""%s"""" is not a valid date and time"
  SInvalidFileName, "Invalid file name - %s"
  SInvalidImage, "Invalid stream format"
  SInvalidInteger, """""%s"""" is not a valid integer value"
  SInvalidMask, """%s"" is an invalid mask at (%d)"
  SInvalidName, """""%s"""" is not a valid component name"
  SInvalidProperty, "Invalid property value"
  SInvalidPropertyElement, "Invalid property element: %s"
  SInvalidPropertyPath, "Invalid property path"
  SInvalidPropertyType, "Invalid property type: %s"
  SInvalidPropertyValue, "Invalid property value"
  SInvalidRegType, "Invalid data type for ""%s"""
  SInvalidString, "Invalid string constant"
  SInvalidStringGridOp, "Cannot insert or delete rows from grid"
  SInvalidTime, """""%s"""" is not a valid time"
  SItemNotFound, "Item not found ($0%x)"
  SLineTooLong, "Line too long"
  SListCapacityError, "List capacity out of bounds (%d)"
  SListCountError, "List count out of bounds (%d)"
  SListIndexError, "List index out of bounds (%d)"
  SMaskErr, "Invalid input value"
  SMaskEditErr, "Invalid input value.  Use escape key to abandon changes"
  SMemoryStreamError, "Out of memory while expanding memory stream"
  SNoComSupport, "%s has not been registered as a COM class"
  SNotPrinting, "Printer is not currently printing"
  SNumberExpected, "Number expected"
  SParseError, "%s on line %d"
  SComponentNameTooLong, "Component name ""%s"" exceeds 64 character limit"
  SPropertyException, "Error reading %s%s%s: %s"
  SPrinting, "Printing in progress"
  SReadError, "Stream read error"
  SReadOnlyProperty, "Property is read-only"
  SRegCreateFailed, "Failed to create key %s"
  SRegGetDataFailed, "Failed to get data for ""%s"""
  SRegisterError, "Invalid component registration"
  SRegSetDataFailed, "Failed to set data for ""%s"""
  SResNotFound, "Resource %s not found"
  SSeekNotImplemented, "%s.Seek not implemented"
  SSortedListError, "Operation not allowed on sorted list"
  SStringExpected, "String expected"
  SSymbolExpected, "%s expected"
  STimeEncodeError, "Invalid argument to time encode"
  STooManyDeleted, "Too many rows or columns deleted"
  SUnknownGroup, "%s not in a class registration group"
  SUnknownProperty, "Property %s does not exist"
  SWriteError, "Stream write error"
  SStreamSetSize, "Error setting stream size"
  SThreadCreateError, "Thread creation error: %s"
  SThreadError, "Thread Error: %s (%d)"

  SInvalidDateDay, "(%d, %d) is not a valid DateDay pair"
  SInvalidDateWeek, "(%d, %d, %d) is not a valid DateWeek triplet"
  SInvalidDateMonthWeek, "(%d, %d, %d, %d) is not a valid DateMonthWeek quad"
  SInvalidDayOfWeekInMonth, "(%d, %d, %d, %d) is not a valid DayOfWeekInMonth quad"
  SInvalidJulianDate, "%f Julian cannot be represented as a DateTime"
  SMissingDateTimeField, "?"

  SConvIncompatibleTypes2, "Incompatible conversion types [%s, %s]"
  SConvIncompatibleTypes3, "Incompatible conversion types [%s, %s, %s]"
  SConvIncompatibleTypes4, "Incompatible conversion types [%s - %s, %s - %s]"
  SConvUnknownType, "Unknown conversion type %s"
  SConvDuplicateType, "Conversion type (%s) already registered in %s"
  SConvUnknownFamily, "Unknown conversion family %s"
  SConvDuplicateFamily, "Conversion family (%s) already registered"
  SConvUnknownDescription, "[%.8x]"
  SConvIllegalType, "Illegal type"
  SConvIllegalFamily, "Illegal family"
  SConvFactorZero, "%s has a factor of zero"
  SConvStrParseError, "Could not parse %s"
  SFailedToCallConstructor, "System::TStrings descendant %s failed to call inherited constructor"

  sWindowsSocketError, "Windows socket error: %s (%d), on API ""%s"""
  sAsyncSocketError, "Asynchronous socket error %d"
  sNoAddress, "No address specified"
  sCannotListenOnOpen, "Can""t listen on an open socket"
  sCannotCreateSocket, "Can""t create new socket"
  sSocketAlreadyOpen, "Socket already open"
  sCantChangeWhileActive, "Can""t change value while socket is active"
  sSocketMustBeBlocking, "Socket must be in blocking mode"
  sSocketIOError, "%s error %d, %s"
  sSocketRead, "Read"
  sSocketWrite, "Write"

  SNotImplemented, "Not implemented. Code: %d"
  SOSError "System Error.  Code: %d.\n%s"
  SUnkOSError "A call to an OS function failed"

  SDateEncodeError "Invalid argument to date encode"
END
