.svn/
*.log
Temp/
Far2_x86/
Far2_x64/
Far3_x86/
Far3_x64/
res.txt
svn.log
libs/zlib/
libs/openssl/
libs/libssh2/
libs/libcurl/
libs/boost/
dlls/
ipch/
*.opensdf
*.sdf
*.suo
*.pdb
*.exp
*.dll
*.lib
*.obj
*.bak
*.vcxproj.filters
*.vcxproj.user
*.zip
*.7z
*.orig
tags
src/NetBox/build
src/NetBox/NetBox

*.vsp
*.psess
*.i
*.exe
*.res
*.rbj
*.idb
*.aps

libs/gc-7.2alpha6/ALL_BUILD.vcxproj
libs/gc-7.2alpha6/cmake_install.cmake
libs/gc-7.2alpha6/CMakeCache.txt
libs/gc-7.2alpha6/CMakeFiles/
libs/gc-7.2alpha6/cord.vcxproj
libs/gc-7.2alpha6/gc-lib.vcxproj
libs/gc-7.2alpha6/gc.sln
libs/gc-7.2alpha6/gcmt-dll.vcxproj
libs/gc-7.2alpha6/gcmt-lib.dir/
libs/gc-7.2alpha6/gcmt-lib.vcxproj
libs/gc-7.2alpha6/tests/cmake_install.cmake
libs/gc-7.2alpha6/tests/CMakeFiles/
libs/gc-7.2alpha6/tests/gctest.vcxproj
libs/gc-7.2alpha6/Win32/
libs/gc-7.2alpha6/ZERO_CHECK.vcxproj
