.svn/
*.log
Temp/
Far2_x86/
Far2_x64/
Far3_x86/
Far3_x64/
res.txt
svn.log
libs/zlib/
libs/openssl/
libs/libssh2/
libs/libcurl/
libs/boost/
dlls/
ipch/
*.opensdf
*.sdf
*.suo
*.pdb
*.exp
*.dll
*.lib
*.obj
*.bak
*.vcxproj.filters
*.vcxproj.user
*.zip
*.7z
*.orig
tags
src/NetBox/build
src/NetBox/NetBox

*.vsp
*.psess
*.i
*.exe
*.res
*.rbj
