1 VERSIONINFO
FILEVERSION 1,6,2,151
PRODUCTVERSION 1,6,2,151
FILEOS 0x4
FILETYPE 0x2
{
    BLOCK "StringFileInfo"
    {
        BLOCK "000004E4"
        {
            VALUE "CompanyName", "Martin Prikryl\0"
            VALUE "FileDescription", "WinSCP: SFTP/FTP/SCP client for FAR\0"
            VALUE "FileVersion", "1.6.2.151\0"
            VALUE "InternalName", "winscpfar\0"
            VALUE "LegalCopyright", "(c) 2000-2009 Martin Prikryl\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "far.dll\0"
            VALUE "ProductName", "WinSCP\0"
            VALUE "ProductVersion", "4.1.9.0\0"
            VALUE "ReleaseType", "stable\0"
            VALUE "WWW", "http://winscp.net/\0"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0, 0x04E4
    }
}