#include "resource.h"
1 VERSIONINFO
FILEVERSION PLUGIN_VERSION_NUM
PRODUCTVERSION PLUGIN_VERSION_NUM
FILEOS 0x4
FILETYPE 0x2
{
    BLOCK "StringFileInfo"
    {
        BLOCK "000004E4"
        {
            VALUE "CompanyName", "Michael Lukashov\0"
            VALUE "FileDescription", "NetBox: SFTP/FTP/FTPS/SCP/WebDAV client for FAR2\0"
            VALUE "FileVersion", PLUGIN_VERSION_STR "\0"
            VALUE "InternalName", "FarNetBox\0"
            VALUE "LegalCopyright", "(c) 2011-2017 Michael Lukashov. © Far Group 2017-2021\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "NetBox.dll\0"
            VALUE "ProductName", "NetBox\0"
            VALUE "ProductVersion", PLUGIN_VERSION_STR "\0"
            VALUE "ReleaseType", "stable\0"
            VALUE "WWW", "https://github.com/michaellukashov/Far-NetBox\0"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0, 0x04E4
    }
}