#include "resource.h"
1 VERSIONINFO
FILEVERSION PLUGIN_VERSION_NUM
PRODUCTVERSION PLUGIN_VERSION_NUM
FILEOS 0x4
FILETYPE 0x2
{
    BLOCK "StringFileInfo"
    {
        BLOCK "000004E4"
        {
            VALUE "CompanyName", "Mikhail Lukashov\0"
            VALUE "FileDescription", "NetBox: SFTP/FTP/FTPS/SCP/WebDAV client for Far Manager\0"
            VALUE "FileVersion", "24.1.1.570\0"
            VALUE "InternalName", "FarNetBox\0"
            VALUE "LegalCopyright", "(c) 2011, 2024 Mikhail Lukashov\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "NetBox.dll\0"
            VALUE "ProductName", "NetBox\0"
            VALUE "ProductVersion", "24.1.1.570\0"
            VALUE "ReleaseType", "beta\0"
            VALUE "WWW", "https://github.com/michaellukashov/Far-NetBox\0"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0, 0x04E4
    }
}
